html {
    font-family : 'Lucida Sans','Helvetica',verdana,sans-serif;
    font-size   : 14px;
    line-height : 22px;
    text-align  : left;
}

div#main {
    width   : 700px;
    margin  : 0 auto;
    padding : 0;
    padding-bottom: 20px; 
}

div#header {
    height: 40px;
    padding-top: 30px; 
}

div#header a {
    display: block;
    font-size: 30px;
}

div#content {
    width:700px;
    margin:1em auto;
}

div#footer {
    clear       : both;
    font-size   : 12px;
    padding-top : 0px;
    text-align  : center;
}

div#footer a {
    text-decoration:underline;
}

h1,h2 { 
    text-transform : uppercase;
}

ul li em {
    font-size:12px;
}

a { 
    color:#000000;
    text-decoration:none;
}

a:hover { 
    color:#1d4c77;
    text-decoration:underline;
}
a:visited,a:active { 
    color:#000000; 
}

li + li { 
    margin-top:0.5em 
}

p.caption { 
    margin:0;
    padding:0;
    font-style:italic;
    color:#777;
    font-size:0.9em 
}

div.figure { 
    float:right;
    margin-top:20px 
}

hr { 
    color:#eee;
    border:1px solid #eee;
    background:#eee 
}

blockquote { 
    margin:0em 1em; 
    padding:0.1em 1em; 
    background:#eee 
}

.body { clear:both; padding-top:5px}

.clear { clear:both}

blockquote + center { margin-top: 1em }

pre2 { 
    margin:0em 1em; 
    padding:1em 1em; 
    background:#eee;
    overflow:auto; 
}

code2 {
    color:#797F77
}

code {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
}

pre code {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
    font-family: "Courier New";
}


/* ****************************** google search */
div#googlesearch {
    text-align: right;
    margin: 10px auto;
    width : 700px
}
