<!DOCTYPE>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>碧海潮生</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="Haisheng's Daily" href="rss.xml" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />

  </head>
  <body>
    <div id="main">

      <nav class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Home</a>
        </div>
      </nav>

      <section class="container">
        $body$
      </section>

      <footer class="footer clear">
        <p>© 2012 <a target="_blank" href="http://weibo.com/freizl">Wu,Haisheng</a></p>
      </footer>

    </div>
  </body>
</html>
