<!DOCTYPE>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>最小的海</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="alternate" type="application/rss+xml" title="Haisheng's Daily" href="rss.xml" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />

  </head>
  <body>
    <div id="main">

      <nav>
        <div class="container">
          <a class="" href="/">主页</a>
          <a class="brand" href="/tags/daily.html">日记</a>
          <a class="brand" href="/tags/reading.html">阅读</a>
          <a class="brand" href="/tags/taiji.html">太极</a>

          <!-- <a href="/rss.xml" type="application/rss+xml"> -->
          <!--   <img src="/images/rss.png" alt="rss feed" style="vertical-align: middle" class="inline-image"> -->
          <!-- </a> -->
          <!-- <a href="/posts.html">所有文章</a> -->
        </div>
      </nav>

      <section class="container">
        $body$
      </section>

      <footer class="clear">
        <p>© 2012 Wu,Haisheng | 
          <a target="_blank" href="http://weibo.com/freizl">微博</a>
          <a target="_blank" href="http://www.douban.com/people/freizl/">豆瓣</a>
        </p>
      </footer>

    </div>
  </body>
</html>
