
<div class="home">
  <div id="tohome">
    <a href="http://www.haisgwu.info/" style="text-decoration:underline">λome</a>
    <a href="http://code.google.com/p/ipaper/" style="text-decoration:underline">papers</a>
  </div>
  <div id="posts">
    <h2>Posts</h2>
    <ul>
      $posts$
    </ul>
    <a href="/rss.xml" type="application/rss+xml"><img src="/images/rss.png" alt="rss feed" style="vertical-align: middle" class="inline-image"></a>
    <a href="posts.html">All posts...</a>
  </div>

  <div id="tags">
    <h2>Tags</h2>
    <div>
      $tagcloud$
    </div>
  </div>

</div>
