
<!--
<div class="figure">
  <img src="/images/self.jpeg" style="padding:2px;border:1px solid #ddd"/>
</div>
-->

<div class="home">
  <div id="tohome">
    <a href="http://www.haisgwu.info/" style="text-decoration:underline">λome</a>
  </div>
  <div id="posts">
    <h2>Posts</h2>
    <ul>
      $posts$
    </ul>
    <a href="/rss.xml" type="application/rss+xml"><img src="/images/rss.png" alt="rss feed" style="vertical-align: middle" class="inline-image"></a>
    <a href="posts.html">All posts...</a>
  </div>

  <div id="tags">
    <h2>Tags</h2>
    <div>
      $tagcloud$
    </div>
  </div>

<!--
  <div id="web-accounts">
    <h2>SNS</h2>
    <ul>
      <li><a href="http://www.douban.com/people/freizl/">Douban</a></li>
      <li><a href="http://twitter.com/freizl">Twitter</a></li>
    </ul>
  </div>
  <div id="contact">
    <h2>Contact</h2>
    <ul>
      <li>freizl AT gmail</li>
    </ul>
  </div>
-->

</div>
